
<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="https://kbimages1-a.akamaihd.net/90bf2502-fa94-4da4-853e-c2e70f7cf2dd/1200/1200/False/el-coronel-no-tiene-quien-le-escriba-2.jpg" alt="Foto">
                <div class="card-body">
                  <h5 class="card-title">WhatsApp</h5>
                  <div style="display:flex;">
                    <p class="card-text col-8">Mensajes</p>
                    <p class="card-text col-4" >19$</p>


                  </div>
                  <!-- <a href="#" class="btn btn-primary">Ver detalles</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
