<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="https://www.techspot.com/images2/news/bigimage/2017/11/2017-11-06-image-8.jpg" alt="Foto">
                <div class="card-body">
                  <h5 class="card-title">WhatsApp</h5>
                  <div style="display:flex;">
                    <p class="card-text col-8">Mensajes</p>
                    <p class="card-text col-4" >19$</p>


                  </div>
                  <!-- <a href="#" class="btn btn-primary">Ver detalles</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

